* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #0e0e0e;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}
